name: Create Branch From Release

on:
  workflow_dispatch:

concurrency: deploy

jobs:
  debug-vars:
    name: Debug vars
    runs-on: ubuntu-latest
    steps:
      - run: echo "$GITHUB_CONTEXT"
        shell: bash

  create-branch:
    name: Create Branch
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest
    steps:
      - name: Check Valid Tag
        run: |
          if ! [[ "$GITHUB_REF_NAME" =~ ^v[0-9]+\.[0-9]+\.0$ ]]
          then
            echo Not a major.minor.0 release tag
            exit 1
          fi
        shell: bash

      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Create Branch
        run: git checkout -b ${GITHUB_REF_NAME%.*}
        shell: bash

      - name: Update Version Number
        run: |
          version=$(sed -nr 's/#define DEPLOYTEST_VERSION_REVISION *([0-9]+)/\1/p' include/test.hpp)
          version=$((version+1))
          sed -i "s/\(#define DEPLOYTEST_VERSION_REVISION *\)[0-9]+/\1$version/" include/test.hpp
          sed -i 's/(#define DEPLOYTEST_VERSION_SUFFIX *)\"[^\"]*\"/\1\"-DEV\"/' include/test.hpp
        shell: bash

      - name: Commit changes
        run: |
          git config user.name 'gridshadow'
          git config user.email 'gridshadow@users.noreply.github.com'
          git commit -am "Post-release version number update: $DEPLOYTEST_VERSION_NUMBER"
          git push -u origin ${GITHUB_REF_NAME%.*}
