name: Doxygen GitHub Pages Deploy Latest

on:
  push:
    branches:
      - master

jobs:
  deploy-latest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          path: main

      - name: Install Doxygen
        run: sudo apt-get install doxygen doxygen-latex graphviz -y
        shell: bash
        working-directory: main

      - name: Extract Version Number
        run: |
          version=$(sed -nr 's/^ *#define DEPLOYTEST_VERSION_[A-Z]* *([0-9]+)/\1/p' test.hpp | tr '\n' '.' | sed '$s/.$//')
          suffix=$(sed -nr 's/^ *#define DEPLOYTEST_VERSION_SUFFIX *\"([^\"]*)\"/\1/p' test.hpp)
          build=$(git log -1 --format=%h)
          echo "DEPLOYTEST_VERSION_NUMBER=$version$suffix+$build" >> $GITHUB_ENV
        working-directory: main/include

      - name: Run Doxygen
        run: (cat Doxyfile; echo "HTML_HEADER=header.html") | doxygen -
        shell: bash
        working-directory: main

      - name: Build PDF Documentation
        run: make
        working-directory: main/docs/latex

      - name: Checkout gh-pages
        uses: actions/checkout@v3
        with:
          ref: gh-pages
          path: gh-pages

      - name: Copy Documentation to GitHub Pages
        run: |
          if [ -d latest ]
          then
            git rm -rf latest/*
          else
            mkdir latest
          fi
          cp -r ../main/docs/html/. latest
          cp ../main/docs/latex/refman.pdf latest/deployment-test-doc.pdf
          git add latest
        shell: bash
        working-directory: gh-pages

      - name: Commit Documentation to GitHub Pages
        run: |
          git config user.name 'gridshadow'
          git config user.email 'gridshadow@users.noreply.github.com'
          git commit -m "Updated latest documentation"
          git push
        shell: bash
        working-directory: gh-pages
